force-app/main/default/flows/updation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>email</name>
        <label>email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>getcampaign</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Dear {!$Record.Donor__r.Name},Donation Recieved.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>{!$Record.Donor__r.Name} ,your donation recieved of amount {!$Record.Amount__c} dollar.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>add</name>
        <label>add</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LoopThrough</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopThroughDonations.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughDonations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>total</name>
        <label>total</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TotalDonationAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>formula</name>
        <dataType>Currency</dataType>
        <expression>{!LoopThroughDonations.Amount__c}+{!$Record.Total_Donated__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>status</name>
        <dataType>String</dataType>
        <expression>IF(
   OR(
      ISPICKVAL({!$Record.Payment_Method__c}, &quot;Cash&quot;),
      ISPICKVAL({!$Record.Payment_Method__c}, &quot;Online&quot;),
      ISPICKVAL({!$Record.Payment_Method__c}, &quot;Bank Transfer&quot;),
      ISPICKVAL({!$Record.Payment_Method__c}, &quot;Credit Card&quot;)
   ),
   &quot;Received&quot;,
   TEXT({!$Record.Status__c})
)</expression>
    </formulas>
    <interviewLabel>updation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>updation</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getcampaign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughDonations</name>
        <label>LoopThroughDonations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getrecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records_element</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getcampaign</name>
        <label>getcampaign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Donation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getrecord</name>
        <label>getrecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughDonations</targetReference>
        </connector>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Donation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update</name>
        <label>update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_Of_Donations__c</field>
            <value>
                <elementReference>count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Raised__c</field>
            <value>
                <elementReference>TotalDonationAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Records 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>Donation_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </inputAssignments>
        <object>Donation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_element</name>
        <label>Update Records element.</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Records_2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Donated__c</field>
            <value>
                <elementReference>LoopThrough</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getrecord</targetReference>
        </connector>
        <object>Donation__c</object>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>loop2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LoopThrough</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalDonationAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
